<!DOCTYPE html>
<html>
<head>
	<title>donvi</title>
</head>
<body>
	<form action="/hienthi_donvi_ten" method="POST">
		<strong style="color: red;">Xem thông tin</strong>
		<h1> Xin mời chọn đơn vị bạn muốn xem </h1>
		<select name="choose_donvi_1">
			{%for op in donvi%} 
				<option value="{{op[0]}}">{{op[0]}}</option>
			{%endfor%}
		</select>
		
		<h2> Xin mời chọn tên bạn muốn xem </h2>
		<textarea name="name_input" width = "200" height = "200"></textarea>
		</br>
		<input type="submit" name="choose_donvi" value="Go">
		


	</form>
</body>
</html>