<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
            <select name="comp_select1" class="selectpicker form-control">
              {% for o1 in data1 %}
              <option value="{{ o1 }}">{{o1}}</option>
              {% endfor %}
            </select>
            <select name="comp_select2" class="selectpicker form-control">
              {% for o2 in data2 %}
              <option value="{{ o2}}">{{ o2}}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>