<form action="/reset" method="POST" align = "center">
    <p> <input type="submit"  value = "RESET-NOW" name ="get_value_reset" style="color : red;font-size : 26pt; width: 30%; height: 100px;" ></p>
    <p> <input type="submit"  value = "RESET-TIMER-00:00" name ="get_value_reset" style="color : red;font-size : 26pt; width: 30%; height: 100px;" ></p>
</form>